BOT_TOKEN=
API_ID=
API_HASH=
MONGO_URI=mongodb://localhost:27017/github
GITHUB_APP_ID=
GITHUB_INSTALLATION_ID=
GITHUB_PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
WEBHOOK_URL=https://example.com
REDIS_URL=redis://localhost:6379/0
LOG_CHAT_ID=
